main {
    width: 80%;
    margin: 50px auto 80px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form label{
    display: block;
    margin-bottom: 5px;
}

form input, 
form button{
    display: block;
    line-height: 20px;
    font-size: 20px;
    padding: 5px;
    margin:10px 0;

}

ul{
    list-style: none;
    padding: 0;
    /*  display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; oppure: */
    /*grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;*/
}

ul li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 3px 0;
}

@media (min-width: 768px){
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    }
}
